@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap");
/*

------- TEXT STYLES ----------

*/

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 1.5em;
}

li {
  font-family: "Bebas Neue";
  color: #72151d;
}
h1,
h2,
a,
.burger-price {
  font-family: "Bebas Neue";
  color: #fff;
  text-decoration: none;
}

.foodora-logo-row p,
.times-color {
  color: #a0a6b0;
  font-size: 12px;
}

.burger-description p {
  font-size: 10px;
  color: #a0a6b0;
}

.burger-price p {
  font-weight: bold;
  font-size: 20px;
  padding-left: 2em;
  padding-bottom: 2em;
}

p {
  font-family: "Lato";
  color: #fff;
}

/*

------ END TEXT STYLES ------

*/

body {
  height: 100%;
  width: 100%;
}

/*

----------HEADER-----------

*/

.burg-header {
  background: #2d2e2f;
  color: #fff;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 500;
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
}

.header-space {
  max-height: 55px;
}

.head-space-ul {
  display: inline-flex;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 15px;
}

.foodora-logo img {
  height: auto;
  max-width: 100%;
}

.burgerlove-logo {
  height: 100px;
  position: relative;
  top: 14px;
  left: 8.5em;
}

.custom-select {
  width: 90%;
  height: 30px;
  background: #fff;
  color: #72151d;
  font-size: 14px;
}

.select-arrow {
  position: absolute;
  left: 42px;
  color: #72151d;
  font-size: 14px;
  top: 11px;
}

.select-box {
  outline: 2px solid #fff;
  height: 32px;
  width: 48px;
  outline-offset: -5px;
  background-color: #72151d;
  position: absolute;
  right: 5px;
  top: -1px;
  transition: background-color 0.4s;
  cursor: pointer;
}

.select-box:hover {
  background-color: #b03f49;
}

.custom-select-row {
  padding-top: 2em;
}

.custom-select-col {
  padding-bottom: 1em;
}

.login-register {
  margin-left: 0;
  max-width: 132px;
}

.login-register a {
  transition: color 0.4s;
}

.login-register a:hover {
  color: #b03f49;
}

.times-row {
  height: 100%;
  min-height: 50px;
  margin-top: 50px;
}

.foodora-logo-row {
  margin-top: 1em;
  justify-content: center;
}

.header-content-row {
  margin: auto;
}

.top-times-col {
  top: 15px;
}

/*

----Mobile Header----

*/

.burger-menu {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
}
.burger-menu i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 3px;
  color: #252525;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all 0.2s ease-out;
}
.burger-menu i::before,
.burger-menu i::after {
  content: "";
  width: 18px;
  height: 3px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.burger-menu i::before {
  top: -7px;
}
.burger-menu i::after {
  bottom: -7px;
}
.burger-menu:hover i::after {
  width: 30%;
}
.burger-menu.active i {
  background: #fff;
}

.burger-menu {
  position: sticky;
  left: 2em;
  top: 1em;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #72151d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/*

----Mobile Header END----

*/
/*

----------------END HEADER-------------------



/*
---- CONTENT -----
*/
.content-holder {
  min-height: 140vh;
}
.bg-cover {
  background: url("../img/burgerlove-background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-modal {
  max-width: 850px;
  background-color: #72151d;
  outline: 2px solid white;
  outline-offset: -12px;
  margin: 0 auto;
  position: relative;
  top: 6em;
}

.burger-pic {
  margin-right: 1em;
}

.burger-pic div {
  background-color: #3c3d40;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.custom-modal-head {
  padding: 120px 0 25px 0;
}

.custom-row {
  transition: all 0.2s ease-in-out;
}

.custom-row:hover {
  transform: scale(1.2);
}

.cat-burger {
  cursor: pointer;
  text-align: center;
  max-width: 206px;
}

.three-lines {
  background-image: url(../img/threewhitelines.svg);
  height: 20px;
  background-size: cover;
}

.left-lines {
  height: 30px;
  width: 100%;
  max-width: 206px;
  padding: 24px 0 0 52px;
}
.right-lines {
  height: 30px;
  width: 100%;
  max-width: 206px;
  padding: 27px 26px 0 23px;
}

.burger-description {
  padding: 2em 1em 2em 2em;
}

/*
-----END CONTENT-----
*/

/*
------ MEDIA QUERIES-----
*/

@media only screen and (max-width: 1000px) {
  .burg-header {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .burgerlove-logo {
    left: 2.5em;
  }
}

@media only screen and (max-width: 575px) {
  .w-50 {
    width: 100% !important;
  }

  .burger-description {
    padding: 0 0 2em 0;
  }

  .custom-modal-head {
    padding: 10px 0 10px 0;
  }
}
@media only screen and (max-width: 420px) {
  .cat-burger h1 {
    font-size: 2.5em;
    padding-top: 13px;
  }

  .left-lines {
    padding: 24px 0 0 0;
  }

  .right-lines {
    padding: 24px 0 0 0;
  }
}

/*

----- END MEDIA QUERIES-----

*/
