html,
body {
  height: 100%;
  width: 100%;
}

/*

----------HEADER-----------

*/

.burg-header {
  background: #2d2e2f;
  color: #fff;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 500;
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
}

.header-space {
  max-height: 55px;
}

.head-space-ul {
  display: inline-flex;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 15px;
}

.foodora-logo img {
  height: auto;
  max-width: 100%;
}

.burgerlove-logo {
  height: 100px;
  position: relative;
  top: 14px;
}

/*

----------------END HEADER-------------------

*/

/*
---- CONTENT -----
*/
.content-holder {
  min-height: 100vh;
}
.bg-cover {
  background: url("../img/burgerlove-background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-modal {
  max-width: 850px;
  background-color: #72151d;
  outline: 1px solid white;
  outline-offset: -12px;
}

.burger-pic {
  background-color: gray;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/*
-----END CONTENT-----
*/
