@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap");

/*

------- TEXT STYLES ----------

*/

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 1.5em;
}
h1,
h2,
.burger-price {
  font-family: "Bebas Neue";
  color: #fff;
}

.burger-description p {
  font-size: 10px;
  color: #a0a6b0;
}

.burger-price p {
  font-weight: bold;
  font-size: 20px;
  padding-left: 2em;
  padding-bottom: 2em;
}

p {
  font-family: "Lato";
  color: #fff;
}

/*

------ END TEXT STYLES ------

*/

body {
  height: 100%;
  width: 100%;
}

/*

----------HEADER-----------

*/

.burg-header {
  background: #2d2e2f;
  color: #fff;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 500;
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
}

.header-space {
  max-height: 55px;
}

.head-space-ul {
  display: inline-flex;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 15px;
}

.foodora-logo img {
  height: auto;
  max-width: 100%;
}

.burgerlove-logo {
  height: 100px;
  position: relative;
  top: 14px;
}

/*

----------------END HEADER-------------------

*/

/*
---- CONTENT -----
*/
.content-holder {
  min-height: 140vh;
}
.bg-cover {
  background: url("../img/burgerlove-background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-modal {
  max-width: 850px;
  background-color: #72151d;
  outline: 2px solid white;
  outline-offset: -12px;
  margin: 0 auto;
  position: relative;
  top: 6em;
}

.burger-pic {
  margin-right: 1em;
}

.burger-pic div {
  background-color: #3c3d40;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.custom-modal-head {
  padding: 120px 0 25px 0;
}

.custom-row{
 transition: all .2s ease-in-out;
}

.custom-row:hover {
transform: scale(1.2); 
}

.cat-burger {
  cursor: pointer;
  text-align: center;
  max-width: 206px;
}

.three-lines {
  background-image: url(../img/threewhitelines.svg);
  height: 20px;
  background-size: cover;
}

.left-lines {
  height: 30px;
  width: 100%;
  max-width: 206px;
  padding: 24px 0 0 52px;
}
.right-lines {
  height: 30px;
  width: 100%;
  max-width: 206px;
    padding: 27px 26px 0 23px;
}

.burger-description {
  padding: 2em 1em 2em 2em;
}

/*
-----END CONTENT-----
*/

/*
------ MEDIA QUERIES-----
*/

@media only screen and (max-width: 575px) {

  .w-50 {
    width: 100% !important;
  }

  .burger-description {
    padding: 0 0 2em 0;
}

.custom-modal-head {
    padding: 10px 0 10px 0;

}
@media only screen and (max-width: 420px) {


  .cat-burger h1 {
    font-size: 2.5em;
    padding-top: 13px;
  }

  .left-lines {
    padding: 24px 0 0 0;
  }

  .right-lines {
    padding: 24px 0 0 0;
  }
}


/*

----- END MEDIA QUERIES-----

*/
